body {
    margin: 0;
    padding: 40px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 30px;
    max-width: 960px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: auto;
}
#header, #jason-hallen #nav, h1, h2, h3, h4, h5 {
    font-family:'Josefin Slab', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 40px 0 12px;
}
h2 {
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 5px;
    /* background-color: #ffc2cb; */
    display: inline-block;
}
h2:after {
    left:0px;
    display:block;
    position:absolute;
    width:100%;
    height:43px;
    margin-top:-38px;
    content: " ";
    background: white;
    z-index: -1;
}
h3 {
    font-size: 30px;
    line-height: 34px;
    background-color: #bdf9f9;
    display: inline-block;
}
h3:after {
    left:0px;
    display:block;
    position:absolute;
    width:100%;
    height:34px;
    margin-top:-34px;
    content: " ";
    background: white;
    z-index: -1;
}
h4 {
    font-size: 24px;
    /* line-height: 16px; */
    background-color: #ffff86;
    display: inline-block;
}
h4:after {
    left:0px;
    display:block;
    position:absolute;
    width:100%;
    height:30px;
    margin-top:-30px;
    content: " ";
    background: white;
    z-index: -1;
}
p {
    margin: 0 0 22px;
}
a {
    color: black;
    /* padding: 2px 0px; */
}
a:hover {
    background-color: #ffc2cb;
}
h2 a {
    text-decoration: none;
    background-color: #ffc2cb;
}
h2 a:hover, h2 a:focus {
    text-decoration: underline;
    background-color: transparent;
}
ul, ol {
    padding: 0;
    margin: 0 0 22px 25px;
}
img {
    max-width: 100%;
}
figure {
    display: table;
    margin: 50px 0px 45px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
figure img, figure audio, figure iframe {
    max-width: 100%;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    display: table-caption;
    max-width: 100%;
    caption-side: bottom;
    font-style: italic;
    font-size: 17px;
    text-align: center;
    margin-top: 14px;
}
pre {
    background: #eee;
    padding: 10px 12px;
    overflow-x: auto;
}
code {
    font-family: Menlo, Consolas, "Courier New", monospace;
    font-size: 16px;
    font-weight: bold;
    background-color: #eee;
}
blockquote {
    padding: 15px 0 5px 20px;
    margin: 0 0 20px;
}
audio {
    display: inline-block;
    width: 100%;
}
#header {
    float: left;
}
#header a {
    text-decoration: none;
    color: black;
}
#jason-hallen {
    font-size: 54px;
    line-height: 54px;
    font-weight: bold;
}
#nav {
    font-weight: bold;
    margin: 18px 0px 18px;
    /* margin-left: 0;
    margin-bottom: 18px; */
    font-size: 28px;
}
#nav ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    display: inline;
}
#nav li {
    float: left;
    margin: 0px 30px 7px 0px;
}
#nav li a {
    line-height: 60px;
    padding: 14px 3px 5px 0px;
}
#header a:hover, #header.home span:hover, #nav li a:hover, #nav li a:focus {
    /* background-color: #eee; */
    background-color: #ffc2cb;
}
/* #header li:hover, #nav li:hover {
    background-color: #eee;
} */
#nav li.active a {
    border-bottom: 3px solid black;
}
#post-section {
    border-bottom: 2px solid black;
    /* overflow: auto; */
}
#post-section, #comments-section {
    margin-bottom: 26px;
}
#prev-next-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.older-button {
    margin-left: auto;
}
.readmore {
    text-decoration: none;
    padding: 0.3em 0.7em;
    border: 1px black solid;
    font-weight: bold;
    text-decoration: none !important;
    color: white;
    background-color: black;
    display: block;
    width: 5em;
    margin: 30px 0 60px;
    text-align: center;
}
.readmore:hover {
    background-color: white;
    color: black;
}
.muted {
    color: #999;
    font-family: "Josefin Slab";
    font-weight: bold;
    font-size: 23px;
}
.date {
    margin: 0px 0px 30px;
    display: block;
}
#pagination span {
    /* margin-right:5px; */
    text-decoration: none;
    font-family: "Josefin Slab";
    font-weight: bold;
    font-size: 20px;
}
#pagination span a, #pagination span.muted {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
}
#pagination span a:hover {
    background-color: #eee;
}
#pagination #paginationPages {
    margin-right: 10px;
    margin-left: 5px;
}
#about_portrait {
    /* float: left; */
    /* width: 40%; */
    /* margin: 0px 30px 10px 0px; */
}
#about_portrait img {
    width: 100%;
}
/* #about_text {
    float: left;
    width: 60%;
} */
#modal-wrapper {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 255,0.7); /* Black w/ opacity */
}
@media (min-width: 768px) {
    h2 {
        margin: 11px 0px 5px 0px;
    }
    #header {
        position: fixed;
        width: 150px;
    }
    #page-content, #pagination {
        margin-left: 200px;
        max-width: 75%;
    }
    #page-content.info {
        display: inline-grid;
        grid-template-columns: 50% 50%;
        column-gap: 20px;
        align-items: center;
    }
    article.modal {
        display: flex;
        align-items: center;
        border: 7px solid black;
        width: 50%;
        max-width: 600px;
        margin: auto;
        background-color: rgb(255, 255, 255);
        padding: 10px;
    }
    img.modal-image {
        width: 30%;
    }
    #modal-text-wrapper {
        width: 70%;
    }
    .modal-title {
        margin-top: 15px;
    }
    .modal button.readmore {
        float: right;
    }    
}
@media (max-width: 767px) {
    body {
        padding-top: 20px;
    }
    h2 {
        margin: 40px 0px 0px 0px;
    }
    #header {
        position: relative;
        width: 100%;
        margin-bottom: 36px;
    }
    #page-content, #pagination {
        margin-left: 0px;
        max-width: 100%;
        /* clear: left; */
    }
    #about_portrait {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 60%;
        max-width: 310px;
        min-width: 140px;
    }
    #about_text {
        float: none;
        width: 100%;
    }
    article.modal {
        border: 7px solid black;
        width: 50%;
        max-width: 300px;
        margin: auto;
        background-color: rgb(255, 255, 255);
        padding: 12px;
    }
    img.modal-image {
        width: 100%;
    }
    #modal-text-wrapper {
        width: 100%;
    }
    .js-modal-title {
        text-align: center;
        margin-top: 0px;
    }
    .modal button.readmore {
        /* float: right; */
        margin: 10px auto;
    }
}
@media (max-width: 480px) {
    #nav li {
        /* margin: 0px 30px 7px 0px; */
        font-size: calc(8.5px + 4.0625vw);
    }
}
#defaultCanvas0 {
    margin-top: -40px;
}
#page-not-found h3 {
    margin-top: -250px;
}
#comment-list {
    border-bottom: 2px solid black;
    margin-bottom: 26px;
}
#comment-list .muted {
    text-decoration: none;
}
#comment-form {
    margin-bottom: 50px;
}
#comment-form .hp {
    display: none;
}
#comment-form .textfield {
    margin-bottom: 13px;
}
#comment-form .textfield {
    margin-bottom: 13px;
}
#comment-form textarea {
    width: 100%;
    border: 2px solid black;
    padding: 6px 0px 6px 6px;
    font-size: 18px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    /* font-size: 20px;
    line-height: 30px;
    -moz-osx-font-smoothing: grayscale; */
}
#comment-form input {
    width: 50%;
    min-width: 200px;
    border: 2px solid black;
    padding: 6px 6px;
    font-size: 18px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
#comment-form button {
    font-size: 19px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    width: inherit;
}
#comment-form button:hover {
    cursor: pointer;
}
#comment-form #submit-cancel-buttons button {
    margin: 10px 10px 10px 0px;
    padding: 8px 0px;
    width: 123px;
}
#comment-form textarea:focus, #comment-form input:focus {
    outline-offset: 2px;
    outline: 2px dotted black;
}
.comment-article {
    margin: 20px 0px 40px 0px;
}
.comment-author {
    font-family: 'Josefin Slab', sans-serif;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px dotted black;
}
#comment-form-submit, #cancel-comment-reply-link {
    display: inline-block;
    margin-right: 20px;
}
.nested {
    margin-left: 60px;
}
.comment-reply-link {
    color: #999;
}
.comment-reply-link:hover {
    cursor: pointer;
}
h3#comment-form-header {
    margin-top: 0px;
    border-bottom: 2px dotted black;
}
.icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    line-height: 1;
    position: relative;
    top: -0.125em;  /*fine-tune alignment*/
    vertical-align: middle;
    width: 1em;
}
.spin {
    animation: spin 2s infinite linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}
.disabled {
    pointer-events: none;
}
.js-close-modal {
    margin: 15px 0px 0px 0px;
}
.grecaptcha-badge { 
    visibility: hidden;
}
#recaptcha-fine-print, #recaptcha-fine-print a {
    color: #999;
}

video {
    width: 100%;
}

#header.home {
    z-index: 1;
}

.home span, .home a {
    background-color: white;
}

/* #home_video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  } */