body {
    margin: 0;
    padding: 40px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 30px;
    max-width: 960px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: auto;
}
#header, #jason-hallen #nav, h1, h2, h3, h4, h5 {
    font-family:'Josefin Slab', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 40px 0 12px;
}
h2 {
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 5px;
}
h3 {
    font-size: 26px;
    line-height: 30px;
}
h4 {
    font-size: 22px;
    line-height: 16px;
}
p {
    margin: 0 0 22px;
}
a {
    color: black;
    padding: 2px 0px;
}
a:hover {
    background-color: #eee;
}
h2 a {
    text-decoration: none;
}
h2 a:hover, h2 a:focus {
    text-decoration: underline;
}
ul, ol {
    padding: 0;
    margin: 0 0 22px 25px;
}
img {
    max-width: 100%;
}
figure {
    display: table;
    margin: 50px 0px 45px;
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
figure img, figure audio {
    max-width: 100%;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    display: table-caption;
    max-width: 100%;
    caption-side: bottom;
    font-style: italic;
    font-size: 17px;
    text-align: center;
}
pre {
    background: #eee;
    padding: 10px 12px;
    overflow-x: auto;
}
code {
    font-family: Menlo, Consolas, "Courier New", monospace;
    font-size: 16px;
    font-weight: bold;
    background-color: #eee;
}
blockquote {
    padding: 15px 0 5px 20px;
    margin: 0 0 20px;
}
audio {
    display: inline-block;
    width: 100%;
}
#header {
    float: left;
}
#header a {
    text-decoration: none;
    color: black;
}
#jason-hallen {
    font-size: 54px;
    line-height: 52px;
    font-weight: bold;
}
#nav {
    font-weight: bold;
    margin: 10px 0px 18px;
    /* margin-left: 0;
    margin-bottom: 18px; */
    font-size: 28px;
}
#nav ul {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    display: inline;
}
#nav li {
    float: left;
    margin: 0px 30px 7px 0px;
}
#nav li a {
    line-height: 60px;
    padding: 20px 0px 3px 0px;
}
#header a:hover, #nav li a:hover, #nav li a:focus {
    background-color: #eee;
}
#nav li.active a {
    border-bottom: 3px solid black;
}
.readmore {
    text-decoration: none;
    padding: 0.3em 0.7em;
    border: 1px black solid;
    font-weight: bold;
    text-decoration: none !important;
    color: white;
    background-color: black;
    display: block;
    width: 6em;
    margin: 30px 0 75px;
    text-align: center;
}
.readmore:hover {
    background-color: white;
    color: black;
}
.readmore.floatleft {
    float: left;
}
.readmore.floatright {
    float: right;
}
.muted {
    color: #999;
    font-family: "Josefin Slab";
    font-weight: bold;
    font-size: 20px;
}
.date {
    margin: 0px 0px 30px;
    display: block;
}
#pagination span {
    /* margin-right:5px; */
    text-decoration: none;
    font-family: "Josefin Slab";
    font-weight: bold;
    font-size: 20px;
}
#pagination span a, #pagination span.muted {
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px;
}
#pagination span a:hover {
    background-color: #eee;
}
#pagination #paginationPages {
    margin-right: 10px;
    margin-left: 5px;
}
#about_portrait {
    float: left;
    width: 40%;
    margin: 0px 30px 10px 0px;
}
#about_portrait img {
    width: 100%;
}
/* #about_text {
    float: left;
    width: 60%;
} */
@media (min-width: 768px) {
    h2 {
        margin: 11px 0px 5px 0px;
    }
    #header {
        position: fixed;
        width: 150px;
    }
    #page-content, #pagination {
        margin-left: 200px;
        max-width: 75%;
    }
}
@media (max-width: 767px) {
    body {
        padding-top: 20px;
    }
    h2 {
        margin: 40px 0px 0px 0px;
    }
    #header {
        position: relative;
        width: 100%;
        margin-bottom: 36px;
    }
    #page-content, #pagination {
        margin-left: 0px;
        max-width: 100%;
        /* clear: left; */
    }
    #about_portrait {
        float: none;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 60%;
        max-width: 310px;
        min-width: 140px;
    }
    #about_text {
        float: none;
        width: 100%;
    }
}
@media (max-width: 480px) {
    #nav li {
        /* margin: 0px 30px 7px 0px; */
        font-size: calc(8.5px + 4.0625vw);
    }
}
#defaultCanvas0 {
    margin-top: -40px;
}
#page-not-found h3 {
    margin-top: -250px;
}
#comment-form {
    clear:both;
}
#comment-form .hp {
    display: none;
}
#comment-form .textfield {
    margin-bottom: 13px;
}
#comment-form .textfield {
    margin-bottom: 13px;
}
#comment-form textarea {
    width: 100%;
    border: 2px solid black;
    padding: 6px 10px;
    font-size: 18px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
    /* font-size: 20px;
    line-height: 30px;
    -moz-osx-font-smoothing: grayscale; */
}
#comment-form input {
    width: 50%;
    min-width: 250px;
    border: 2px solid black;
    padding: 6px 10px;
    font-size: 18px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
#comment-form button {
    font-size: 19px;
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}
#comment-form button:hover {
    cursor: pointer;
}
#comment-form textarea:focus, #comment-form input:focus {
    outline-offset: 2px;
    outline: 2px dotted black;
}