<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div id="header">
        <span id="jason-hallen">
            <a href="/">Jason Hallen</a>
        </span>
        <div id="nav">
            <ul>
                <li class="active"><a href="/">Blog</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>        
    </div>
    <div id='page-content'></div>
    <script src="/comments.js"></script>
</body>
<!-- <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->
<script src="https://www.google.com/recaptcha/api.js?render=reCAPTCHA_site_key"></script>
</html>