<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <div id="header">
        <span id="jason-hallen">
            <a href="/">Jason Hallen</a>
        </span>
        <div id="nav">
            <ul>
                <li class="active"><a href="/">Blog</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>        
    </div>
    <div id='page-content'>
        
    </div>
    <div id='pagination'>
        <span id="paginationBegin"><<</span>
        <span id="paginationBack"><</span>
        <span id="paginationPages"></span>
        <span id="paginationForward">></span>
        <span id="paginationEnd">>></span>
    </div>
</body>

</html>