<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thanks!</title>
</head>

<body>
    <div id="header">
        <span id="jason-hallen">
            <a href="/">Jason Hallen</a>
        </span>
        <div id="nav">
            <ul>
                <li class="active"><a href="/">Blog</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>        
    </div>
    <div id='page-content'></div>
</body>

</html>